<div fxLayout="column" fxLayoutAlign="start center" *ngIf="!openConversationFlag"  style="background-color: rgb(255, 255, 255);">


  <div style="width: 90%;">

    <div >
      <form class="example-form" [formGroup]='searchForm' (ngSubmit)="search()">
        <mat-form-field class="example-full-width">
            <mat-label>Searching for </mat-label>
            <input matInput formControlName='searchName'>
        </mat-form-field>
        <button mat-button color="accent" hidden>
            <!-- <mat-icon>search</mat-icon> -->
        </button>
    </form>
    </div>

    <mat-list style="width: 90%;" (click)="openConversationSwitch()">
      <mat-list-item *ngFor="let message of messages" style=" background-color: rgb(255, 255, 255);">
        <img matListAvatar src="assets/images/profile-pic.jpg" alt="avatar">
        <h3 matLine> {{message.from}} </h3>
        <p matLine>
          <span> {{message.subject}} </span>
          <span class="demo-2"> -- {{message.content}} </span>
        </p>
        <h3 matSubheader>{{message.lastMessage | date: 'short'}}</h3>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div *ngIf="openConversationFlag" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px"
  style="background-color: rgb(255, 255, 255);" fxFill>

  <!-- top menu -->
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <button mat-icon-button (click)="openConversationSwitch()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <!-- <button mat-icon-button (click)="openConversationSwitch()">
        <mat-icon>cloud</mat-icon>
      </button> -->
    </div>

    <div>
      <h1>Jon Doe</h1>
    </div>

    <button mat-icon-button (click)="openConversationSwitch()">
      <mat-icon>phone</mat-icon>
    </button>

  </div>


  <!-- messages -->
  <div
    style="background-color: rgb(255, 255, 255); height: 60vh; overflow: scroll; overflow-x: hidden; overflow-y: auto;"
    #scrollMe>

    <div *ngFor="let c of conversation" style=" margin: auto; max-width: 80%;">

      <div fxLayout="column" fxLayoutGap="20px" style="min-width: 100%;">
        <div fxLayout="row" fxLayoutGap="25px">
          <!-- <img src="assets/images/profile-pic.jpg" alt="Avatar" class="avatar"> -->

          <div class="speech-bubble">
            <sup>Jeremy Li 12/04/1988</sup>
            <div style="line-height: normal;">{{c}}.</div>
            <!-- <p style="text-align:right">12/04/1988</p> -->
          </div>


        </div>


      </div>
      <div class="speech-bubble-right" style="float: right; position: relative; padding: 10px; ">

        <sup>You Li 12/04/1988</sup>
        <div style="line-height: normal;">This is a paragraph with a standard line-height.<br>
          The standard line height in most browsers is about 110% to 120%.</div>
        <!-- <p style="text-align:right">12/04/1988</p> -->
      </div>

    </div>

  </div>

  <!--  typing stuff -->
  <div class="typingArea" style="background-color: rgb(255, 255, 255); height: 10vh; text-align: center; ; ">
    <form>
      <input type="text" placeholder="Socket Id ..." name="socketId" [(ngModel)]="socketId"
      style="padding: 10px; font-size: medium;">
      <input type="text" placeholder="Start typing ..." name="messageInput" [(ngModel)]="messageInput"
        style="padding: 10px; font-size: medium;">
      <button mat-icon-button (click)=sendMessage()>
        <mat-icon>send</mat-icon>
      </button>
    </form>
    <!-- <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart> -->

  </div>
</div>
